<div class="media left">
    <% if size == 64 %>
        <figure class="image is-64x64">
    <% else %>
        <figure class="image is-32x32">    
    <% end %>
        <%= gravatar_image_tag(user.email, size: size, alt: user.name) %>
    </figure>
</div>
