<!-- this first column will display current_user profile info along with trends-->

<!-- current_user profile will go here -->
<!-- will be similar to user info in other partials -->
<!-- add stats (#tweets, #followers, #following) -->

<!-- this creates the trends section -->
<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="panel-block">Trend 1</a>
        <a class="panel-block">Trend 2</a>
        <a class="panel-block">Trend 3</a>
        <a class="panel-block">Trend 4</a>
        <a class="panel-block">Trend 5</a>
        <a class="panel-block">Trend 6</a>
    </nav>
</div>