<!-- this third column will display other users to follow -->
<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-block">Who to Follow</p>

        <div class="panel-bloc">
            <article class="media">
                <div class="media left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Joe Schmo</strong><br>
                            <small>@joeschmo</small><br>
                        </p>
                    </div>
                </div>
            </article>
        </div>

        <div class="panel-bloc">
            <article class="media">
                <div class="media left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Jane Doe</strong><br>
                            <small>@jdoe</small><br>
                        </p>
                    </div>
                </div>
            </article>
        </div>

        <div class="panel-bloc">
            <article class="media">
                <div class="media left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Jack Hill</strong><br>
                            <small>@jackhill</small><br>
                        </p>
                    </div>
                </div>
            </article>
        </div>

        <div class="panel-bloc">
            <article class="media">
                <div class="media left">
                    <figure class="image is-32x32">
                        <img src="https://bulma.io/images/placeholders/64x64.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Jill Hill</strong><br>
                            <small>@jillhill</small><br>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </nav>
</div>