<!-- this third column will display other users to follow -->
<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Who to Follow</p>

        <% @users.all.each do |user| %>
            <div class="panel-block">
                <article class="media">
                    <%= render "profile_image", size: 32, user: user %>
                    <div class="media-content">
                        <div class="content">
                            <%= render "user_info", user: user, post: nil %>
                        </div>
                    </div>
                </article>
            </div>
        <% end %>
    </nav>
</div>